/* Flex Slider */

.pv-slider{
    position: relative;
}

.pv-slider.flexslider{
    border: 0 !important;
}

.pv-slider .img-fluid {
    max-width: 100%;
    height: auto;
}

.pv-slider .pvs-container{
    max-width: 1140px;
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
}

.pv-slider .flex-direction-nav{
    display: none !important;
}

.pv-slider .flex-control-nav {
    bottom: 10px !important;
}

.pv-slider .flex-direction-nav a{
    height: 50px;
}

.pv-slider .slider-details-container {
    color: #FFF;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.pv-slider .slider-details-container .subtitle{
    margin-bottom: 15px;        
}

.pv-slider .slider-details-container .slider-title{
    color: #FFF;
    font-weight: 700;
}

.pv-slider .slider-details-container a{
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 5px 25px;
    display: inline-block;
    text-decoration: none;
}

.pv-slider .slider-details-container a:hover{
    color: #fff;
}

.pv-slider .flexslider .slides {
    padding: 0 !important;
}

.pv-slider .flex-control-paging li a.flex-active {
    width: 25px !important;
}

.pv-slider .flex-control-nav li {
    margin: 0 3px !important;
}